name: Deploy static site to Azure Web App - owch-static-web-app-mz

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1D9BF943A5F841A8AFEF4F3E9A793ADF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4B919DFE345541128E2472E71670735E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1D9FDBAC323D4ED8BE1821C6CBED257F }}

      - name: Deploy to Azure Web App (static site)
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'owch-static-web-app-mz'
          slot-name: 'Production'
          package: .

